*{
    margin: 0;
    padding: 0;
}

body{

    background-image: url(https://cdn.pixabay.com/photo/2021/07/11/17/04/gamepad-6404354_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.game-area{
    height: 400px;
    width: 1200px;
    margin: 50px auto;
    border: 1px solid rgb(186, 167, 61);
    border-radius: 10px;    
    box-shadow: rgba(75, 180, 250, 0.25) 0px 54px 55px, rgba(42, 145, 230, 0.12) 0px -12px 30px, rgba(91, 197, 223, 0.677) 0px 4px 6px, rgba(107, 197, 249, 0.56) 0px 12px 13px;
    overflow: hidden;
}


#block1 , #block2 {
    width: 400px;
    height: 200px;
    position: relative;
    border-radius: 20px;
}

#block1{
    background-color: aqua;
    top: 150px;
    right: -1200px;
}

#block2{
    background-color: blueviolet;
    top: -50px;
    right: -1200px;
}

.runningBlocks{
    animation: runBlocks 3s infinite linear;
}

@keyframes runBlocks {
    0%{
        right: -1200px;
    }
    100%{
        right: 400px;
    }
}

/*Block which will jump*/

#jump-block{
    width: 50px;
    height: 50px;
    background-color: tomato;
    position: relative;
    top: 150px;
    left: 200px;
    border: 1px solid rgb(226, 254, 14);
    border-radius: 5px;
    transform: rotate(-20deg);
    box-shadow: -20px 5px 25px 5px #888888;
}

.jump-block-animation{
    animation: jumpBlock 0.9s linear infinite;
}

@keyframes jumpBlock {
    0%{
        top: 150px;
        border-radius: 5px;
        transform: rotate(-20deg);
        width: 50px;
        height: 50px;
    }
    30%{
        top: 80px;
        border-radius: 50%;
        transform: rotate(360deg);
        width: 45px;
        height: 45px;
        box-shadow: none;
    }
    70%{
        top: 80px;
        border-radius: 50%;
        transform: rotate(360deg);
        width: 45px;
        height: 45px;
        box-shadow: none;
    }
    100%{
        top: 150px;
        border-radius: 5px;
        transform: rotate(-20deg);
        width: 50px;
        height: 50px;
    }
}

#score{
    color: white;
    font-size: 18px;
    position: fixed;
    top: 60px;
    right: 150px;
}